.row
  .col.m6.offset-m3.center
    %h5 Edit #{resource.name.to_s.humanize}

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f|
      = render partial: "shared/devisemes"
      .input-field
        =f.text_field :name, :id => "name", autofocus:true, :class => "validate", :placeholder => "Name"

      .input-field
        = f.email_field :email, :id => "email", :class => "validate", :placeholder => "Email"

      -if devise_mapping.confirmable? && resource.pending_reconfirmation?
        Currently Waiting confirmation for: #{resource.unconfirmed_email}

      .input-field
        = f.password_field :password, autocomplete: "off", :id => "password", :class => "validate", :placeholder => "New Password (leave blank if you don't want to change it)"

      .input-field
        = f.password_field :password_confirmation, autocomplete: "off", :id => "password_confirmation", :class => "validate", :placeholder => "Confirm Password"

      .input-field
        = f.password_field :current_password, autocomplete: "off", :id => "current_password", :class => "validate", :placeholder => "Type current password to confirm your change"

      %button.btn.waves-effect.waves-light
        Update

      =link_to "Back", :back, :class => "btn waves-effect waves-light"


