.row
	.col.m6.offset-m3.center
		%h5 Sign up

		= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "btn blue darken-3"
		%br/
		= link_to "Sign up with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn red darken-1"
		%br/
		= link_to "Sign up with Github", user_omniauth_authorize_path(:github), class: "btn grey darken-1"


		= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
			= render partial: "shared/devisemes"
			.input-field
				=f.text_field :name, autofocus:true, :class => "validate", :placeholder => "Name"

			.input-field
				= f.email_field :email, :class => "validate", :placeholder => "Email"

			.input-field
				= f.password_field :password, autocomplete: "off", :class => "validate", :placeholder => "Password"

			%button.btn.waves-effect.waves-light
				Sign Up
