.row
	.col.m4
		.card.z-depth-2

			- if !@joined
				.center
					%h1=@project.price == 0? "Free" : "$#{@project.price}"

				.card-action.center
					-if user_signed_in?
						=form_tag free_path do
							= hidden_field_tag 'project_id', @project.id
							%button.btn.waves-effect.waves-light.pink.darken-2{type: "submit"}
								Take this Project

					-else
						=link_to new_user_session_path do
							%button.btn.waves-effect.waves-light.pink.darken-2{type: "submit"}
								Take this Project
			- else
				.card-content.center
					=image_tag avatar_url(current_user), class: "circle responsive-img avatar-medium"
					%h5=current_user.name
				.card-action.center
					-@users.each do |u|
						%span.valign-wrapper
							=image_tag avatar_url(u), class: "circle responsive-img avatar-small"
							&nbsp;
							=u.name
						%br/


	.col.m8
		.card.z-depth-2
			.card-image
				=image_tag @project.image

			.row
			.col.s12
				%ul.tabs
					%li.tab.col.s3
						%a.active{:href => "#about"} About
					%li.tab.col.s3
						%a{:href => "#videos"} Videos
					%li.tab.col.s3
						%a{:href => "#discussions"} Discussions

				#about.col.s12
					.card-content.grey-text.text-darken-4.paragraph-spacing.listable
						%h5=@project.name
						%span#average_rating
						%p="#{@reviews.count} #{@reviews.count > 1? "Reviews" : "Review"}"
						%hr/
						~markdown(@project.content)

						%h4 Reviews
						%div= render 'reviews/form' if @joined && !@hasReview
						%div= render 'reviews/index'


				#videos.col.s12
					.collection{data: { no_turbolink: true }}
						-@tasks.each do |task|
							-if task.header
								.collection-item.active
									%i.mdi-social-school
										&nbsp;
										=task.title
							-else
								=link_to [task.project,task], class: "collection-item" do
									=task.title

				#discussions.col.s12





:javascript
	$('#average_rating').raty({
		path: '/assets',
		readOnly: true,
		score: #{@project.average_rating}
	});

